button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    text-align: center;
    margin-left: 80px;

}
button:hover {
    opacity: 0.8;
}
